.card {
  top: 50%;
  left: 50%;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 60px;
  margin-bottom: 16px;
  width: 25rem;
  height: 18rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.card h1 {
  font-size: 24px;
  margin-bottom: 10px;
  text-decoration: underline;
  
}

.card p span{
  font-size: 16px !important;
  margin-bottom: 5px;
  font-weight: normal !important;
}

.card section {
  margin-top: 20px;
}

.card section h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.card section h3 span {
  font-weight: bold;
}

.card section h4 {
  font-size: 16px;
  margin-top: 5px;
}

.card button {
  background-color: transparent;
  border: none;
  color: black;
  position: absolute;
  left: 90%;
  top: 0%;
  height: 100%;
  width: 10%;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.card button:hover {
  background-color: rgba(7, 19, 73, 0.2);
}

.card p{
    font-weight: bold;
}

#previous{
  position:absolute;
  left:0%;
  background-color: transparent;
  border: none;
  color: black;
  position: absolute;
  top: 0%;
  height: 100%;
  width: 10%;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

#previous:hover{
  background-color: rgba(7, 19, 73, 0.2);
}